@import './base.css';

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

#app {
  flex: 1;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 66px 1fr 66px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  font-weight: normal;
  font-family: 'Poppins', 'Verdana', 'Sans-serif';
}
